{% extends "admin/change_list.html" %}

{% block object-tools %}
<ul class="object-tools">
  <li>
    <a href="sell-history/" class="addlink" style="background:#2b5068;">
      📊 Sell History
    </a>
  </li>
  {% if has_add_permission %}
  <li>
    {% load admin_urls %}
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% load i18n %}{% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
  </li>
  {% endif %}
</ul>
{% endblock %}
